$primary-color: rgb(0 136 204);
$secondary-color: rgb(7 116 171);
$text-black: rgb(33 37 41);
$text-grey: rgb(159 147 147);
$backgroun-white: rgb(255 255 255);
$backgroud-grey: rgb(247 247 247);
$footer-background-primary: rgb(33 37 41);
$footer-background-secondary: rgb(28 32 35);
$logo-blue: rgb(0 131 193);
$logo-grey: rgb(0 131 193);